<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h1 style="color:red;text-align: center;"> Order Method List</h1>
 <table border="1">
 	<tr>
 		<th>OM ID</th>
 		<th>Mode</th>
 		<th>Code</th>
 		<!-- <th>Type</th>
 		<th>Description</th> -->
 		<th colspan="3">Operations</th>
 	</tr>
 	<tr th:each="ob:${list}">
 		<td th:text="${ob.id}"></td>
 		<td th:text="${ob.orderMode}"></td>
 		<td th:text="${ob.orderCode}"></td>
 		<!-- <td th:text="${ob.orderType}"></td>
 		<td th:text="${ob.description}"></td> -->
 		<td>
 			<a th:href="@{/ordermethod/delete/{id}(id=${ob.id})}">DELETE</a>
 		</td>
 		<td>
 			<a th:href="@{/ordermethod/edit/{id}(id=${ob.id})}">EDIT</a>
 		</td>
 		<td>
 			<a th:href="@{/ordermethod/view/{id}(id=${ob.id})}">VIEW</a>
 		</td>
 	</tr>
 </table>
 <span th:text="${message}"></span>
</body>
</html>